{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <h1>Change Password</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashes-container">
                {% for category, message in messages %}
                <div class="flash-message {% if category == 'success' %}success{% elif category == 'info' %}info{% elif category == 'danger' %}danger{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <nav>
        <ul>
            <li><a class="button" href="/">Home</a></li>
            <li><a class="button" href="">Products Owned</a></li>
            {% if current_user.is_authenticated %}
                <li><a class="button" >Welcome {{ current_user.username }}</a></li>
                <li><a class="button" href="{{ url_for('change_password') }}">Change Password</a></li>
                <li><a class="button" href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a class="button" href="{{ url_for('login') }}">Login</a></li>
                <li><a class="button" href="{{ url_for('signup') }}">Signup</a></li>
            {% endif %}
        </ul>
    </nav>
    <br>
    <form method="post" action="{{ url_for('change_password') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="current_password">Current Password</label>
            {{ form.current_password(class="form-control", id="current_password") }}
            {% if form.current_password.errors %}
                <span class="text-danger">{{ form.current_password.errors[0] }}</span>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="new_password">New Password</label>
            {{ form.new_password(class="form-control", id="new_password") }}
            {% if form.new_password.errors %}
                <span class="text-danger">{{ form.new_password.errors[0] }}</span>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="confirm_new_password">Confirm New Password</label>
            {{ form.confirm_new_password(class="form-control", id="confirm_new_password") }}
            {% if form.confirm_new_password.errors %}
                <span class="text-danger">{{ form.confirm_new_password.errors[0] }}</span>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
{% endblock %}
